@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

@keyframes scrollHorizontally {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scrolling-container {
  animation: scrollHorizontally 5s linear infinite;
  display: flex;
}
